@{
    ViewBag.Title = "Index";
}

<h2>PostVenta</h2>
<ol class="round">
    <li class="one"><h4>@Html.ActionLink("Programar envío de Encuestas", "Index", "Programacion")</h4>
    </li>
    <li class="two"><h4>@Html.ActionLink("Registrar Reclamo", "Index", "Reclamo")</h4>
    </li>
</ol>

